{
  "server_EnvVariable": "dc.internal.contoso.com",
  "database_EnvVariable": "database.sqlite",
  "user_name_EnvVariable": "contoso\\user",
  "user_pass_EnvVariable": "paSSw0rd",
  "search_attributes_EnvVariable": ["cn", "distinguishedName", "dNSHostName", "lastLogon", "operatingSystem", "operatingSystemServicePack", "operatingSystemVersion", "description", "lastLogonTimestamp", "telephoneNumber", "location"],
  "search_base_EnvVariable": "OU=Computers,DC=internal,DC=contoso,DC=com",
  "search_filter_EnvVariable": [ "OU=Retired Computers", "OU=Inactive Computers" ],
  "subnet_dict_EnvVariable": {
      "10.0.0": "Contoso",
  }
}
