{
    "database": "database.sqlite",
    "locations": [
        "unknown"
    ],
    "search_attributes": [
        "cn",
        "distinguishedName",
        "dNSHostName",
        "lastLogon",
        "operatingSystem",
        "operatingSystemServicePack",
        "operatingSystemVersion",
        "description",
        "lastLogonTimestamp",
        "extensionAttribute1",
        "extensionAttribute2",
        "extensionAttribute3",
        "extensionAttribute4",
        "extensionAttribute5"
    ],
    "search_base": "OU=Computers,DC=internal,DC=contoso,DC=com",
    "search_filter": [
        "Retired Computers",
        "Inactive Computers"
    ],
    "secretKey": "123515aweqwqe",
    "server": "server.internal.contoso.com",
    "subnet_dict": {
        "192.168.0.1/24: "LAN"
        "0.0.0.0/0": "Global"
    },
    "admin_password": "testing1234",
    "user_name": "contoso\\user",
    "user_pass": "pass"
}