<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LDAP Device Surveyor</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    <nav>
      <ul>
        <li><img height="30px" src="https://cdn.nwmsrocks.com/img/3dc41c7.png"/></li>
        <li><a href="/">Overview</a></li>
        <li><a href="/iframe">Simple View</a></li>
        <li><a href="/discovery">Discovery</a></li>
        <li><a href="/prune">Prune</a></li>
        <li><a href="/logs">Logs</a></li>
      </ul>
      <ul class='navicon'>
        <li>LDAP Device Surveyor</li>
      </ul>
    </nav>
        <article>
            <h2>Logs</h2>
	    {% for string in data %}
	    <p>{{string}}</p>
	    {% endfor %}
	    <p>EOF</p>
	    <br>
        </article>
  </body>
</html>
