<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="refresh" content="60" >
    <title>LDAP Device Surveyor</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><img height="30px" src="https://cdn.nwmsrocks.com/img/3dc41c7.png"/></li>
        <li><a href="/">LDAP Device Surveyor</a></li>
        <li><a href="/discovery">Discovery</a></li>
      </ul>
    </div>
      <div style="width: 100%; overflow: auto;">
        <table style="width: 90%;">
        {% for location in locations %}
          <tr>
            <td>{{location[0]}}</td>
          {% for item in data %}
          {% if item[6] == location[0] %}
            <td class="{{ 'good' if item[2] == 0 else 'bad' }}"><a href="/device/{{item[0]}}">{{item[2]}}</a></td>
          {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
        </table>
      </div>
      <div>
    {% for location in locations %}
    <h2>{{location[0]}}</h2>
    <table>
      <tr>
        <th>Up</th><th>ID</th><th>IP</th><th>Response Time</th><th>Timestamp</th><th>Description</th><th>Location</th><th>Group</th><th>TeamViewer</th><th>LastLogon</th><th>OS</th><th>Version</th>
      </tr>
      {% for item in data %}
      {% if item[6] == location[0] %}
      <tr>
      <td class="{{ 'good' if item[2] == 0 else 'bad' }}"><a href="/device/{{item[0]}}">{{item[2]}}</a></td>
      <td><a href="https://www.myassettag.com/assettiger/assets?search={{item[0]}}">{{item[0]}}</a></td>
      <td>{{item[1]}}</td>
      <td>{{item[3]}}</td>
      <td>{{item[4]}}</td>
      <td>{{item[5]}}</td>
      <td>{{item[6]}}</td>
      <td>{{item[7]}}</td>
      <td>{{item[8]}}</td>
      <td>{{item[9]}}</td>
      <td>{{item[10]}}</td>
      <td>{{item[11]}}</td>
      </tr>
      {% endif %}
      {% endfor %}
    </table>
    {% endfor %}
    {% block content %}
    {% endblock %}
  </div>
  </body>
</html>
