<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" http-equiv="refresh" content="60" >
    <title>LDAP Device Surveyor</title>
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
  </head>
  <body>
    <div class="nav">
      <ul>
        <li><img height="30px" src="https://cdn.nwmsrocks.com/img/3dc41c7.png"/></li>
        <li><a href="/">LDAP Device Surveyor</a></li>
        <li><a href="/iframe">Simple View</a></li>
        <li><a href='/discover_device/{{data.id}}';> Refresh Device </a></li>
        <li><a href="/discovery">Discovery</a></li>
      </ul>
    </div>
    <table style="Padding: 2% 2% 2% 2%;">
      <tr>
        <th>Up</th><th>ID</th><th>IP</th><th>Response Time</th><th>Timestamp</th><th>Description</th><th>Location</th><th>Group</th><th>TeamViewer</th><th>LastLogon</th><th>OS</th><th>Version</th>
      </tr>
      <tr>
      <td class="{{ 'good' if data.ping_code == 0}}{{ 'bad' if data.ping_code == 1}}{{ 'dns' if data.ping_code == 2}}">{{data.ping_code}}</td>
      <td><a href="https://www.myassettag.com/assettiger/assets?search={{data.id}}">{{data.id}}</a></td>
      <td>{{data.ip}}</td>
      <td>{{data.ping_time}}</td>
      <td>{{data.time_stamp}}</td>
      <td>{{data.description}}</td>
      <td>{{data.location}}</td>
      <td>{{data.group}}</td>
      <td>{{data.tv}}</td>
      <td>{{data.lastlogon}}</td>
      <td>{{data.os}}</td>
      <td>{{data.version}}</td>
      </tr>
    </table>
  </body>
</html>
